{% extends "blog/base.html" %}

{% load i18n %}

{% block content %}
    <body onload="redirect()">
        <main role="main" class="text-center mt-5">
            <h1 style="font: normal normal 120px Georgia, Times New Roman, serif; color: #d90202; padding: 0 0 5px 0; margin: 0 0 5px 0; text-align: center;">500</h1>
            <h3 class="mt-3">{% trans "Internal server error occurs." %}</h3>
        </main>
        <div class="border-top pt-2 text-center mt-4">
            <p><small>{% trans "Make sure the address is correct and that the page hasn't moved and try again." %}</small></p>
            <small id="pageInfo"></small>
        </div>

    </body>
{% endblock %}