{% extends "blog/base.html" %}

{% load i18n %}

{% load widget_tweaks %}

{% block content %}
	<div class="row justify-content-center">
    <div class="col-md-7 mt-5">
        <div class="card">
            <div class="card-body">
                {% if validlink %}
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-3" style="font-weight: bold">{% trans 'Reset Password' %}</legend>

                            {% if form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.non_field_errors %}
                                        {{ error }}
                                    {% endfor %}
                                </div>
                            {% endif %}

                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {{ field.label_tag }}

                                    {% if form.is_bound %}
                                        {% if field.errors %}
                                            {% render_field field class="form-control is-invalid" %}
                                            {% for error in field.errors %}
                                                <div class="invalid-feedback">
                                                    {{ error }}
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% render_field field class="form-control is-valid" %}
                                        {% endif %}
                                    {% else %}
                                        {% render_field field class="form-control" %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">{% trans 'Reset Password' %}</button>
                        </div>
                    </form>
                {% else %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-3" style="font-weight: bold">{% trans 'Reset Password' %}</legend>
                        <p class="mt-2" style="color: red">{% trans 'Token is invalid or expired' %}</p>
                        <a class="btn btn-outline-primary mt-2" href="{% url 'user:sign-in' %}">{% trans 'Sign In' %}</a>
                        <a class="btn btn-outline-info ml-3 mt-2" href="{% url 'user:password-reset' %}">{% trans 'Reset Password' %}</a>
                    </fieldset>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}