{% extends "blog/base.html" %}

{% load i18n %}

{% block content %}
    <div class="row justify-content-center">
    <div class="col-md-7 mt-5">
        <div class="card">
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4" style="font-weight: bold">{% trans 'Request Password Reset' %}</legend>
                        <label for="email">{% trans 'Enter your email:' %}</label>
                        <br>
                        <input type="email" style="width: 590px" id="email" name="email" placeholder="email">
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info mt-3" type="submit">{% trans 'Confirm' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}